@font-face {
    font-family: "Poppins";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/Poppins/Poppins-Medium.ttf");
}


@font-face {
    font-family: "Handjet";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/Handjet/Handjet-VariableFont_ELGR\,ELSH\,wght.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    transition: 0.5s ease-in-out;
    font-family: Poppins;
}

*::-webkit-scrollbar {
    display: none;
}

:root {
    --c1: black;
    /*Color1*/
    --c2: #12fffb;
    /*Color2*/
    --tc: #12fffb;
    /*Text-Color*/
    --btc: #e9d6b8;
    /*Button-Text-Color*/
}

[data-theme="light"] {
    --c1: #e9d6b8;
    /*Color1*/
    --c2: linear-gradient(#ddc595, #8b7449);
    /*Color2*/
    --tc: black;
    /*Text-Color*/
    --btc: #e9d6b8;
    /*Button-Text-Color*/
}

[data-theme="dark"] {
    --bg: #e9d6b8;
    --g1: linear-gradient(black, #4a3d28);
    --tc: white;
    --lc: ;
    --btc: black;
    --invert: invert(0%);
    --invertoff: invert(100%);
    /*Link-Colour*/
}

body {
    background-color: var(--c1);
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--tc);
    background-image: url(/images/757530618600.jpg);
    background-size: cover;
    backdrop-filter: blur(3px);
}

card h2 {
    color: var(--tc);
    font-family: Handjet !important;
    font-size: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 90%;
    margin: 20px auto;
}

a {
    color: var(--tc);
    text-decoration: none;
}

main {
    display: flex;
    margin: 50px auto;
    width: 80%;
}

.card {
    width: 400px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid var(--tc);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 5px 30px;
    background-color: var(--c1);
}

.outputcard {
    width: 600px;
    height: 500px;
    background-color: var(--c1);
    overflow: scroll;
}

.outputcard h2 {
    margin-bottom: 20px;
}

footer {
    color: var(--tc);
    width: 90%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}

/*HEADER*/
.logo {
    width: 20%;
    font-family: Handjet;
    font-size: 35px;
}

.navlinks {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.navlinks a {
    font-family: Handjet;
    font-size: 25px;
}

.themebtn {
    width: 10%;
}

/*FORM*/
.inputs {
    width: 100%;
}

select,
input {
    background-color: var(--c1);
    color: var(--tc);
    border: 2px solid var(--tc);
    padding: 2px 5px;
    border-radius: 8px;
}

label {
    margin-top: 12px;
}

input:active {
    background-color: var(--c1);
    color: var(--tc);
}

.outputbox {
    width: 90%;
    margin: auto;
    overflow: auto;
    margin-bottom: 50px;
}

.in {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.credit {
    font-size: 10px;
}

.submit {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;
    padding: 5px 0px;
}

.submit:hover,
#download-pdf:hover {
    background-color: var(--tc);
    color: var(--c1);
}

tooltip span {
    font-size: 16px;
    font-family: Roboto;
}

/*OUTUT BOX*/
.outputbox h1 {
    font-size: 30px;
    font-weight: 600;
}

.outputbox h2 {
    font-size: 26px;
}

.outputbox h3 {
    font-size: 22px;
    font-weight: 500;
}

.outputbox h4 {
    font-size: 20px;
    font-weight: 500;
}

.outputbox p {
    font-size: 14px;
    font-size: 100;
}

#download-pdf {
    padding: 5px 10px;
    border-radius: 8px;
    background-color: var(--c1);
    border: 2px solid var(--tc);
    color: var(--tc);
    transform: translate(0px, -15px);
}
